[AWS]
KEY = AWS_KEY
SECRET = AWS_SECRET
REGION = AWS_SERVER_REGION

[S3]
BUCKET_NAME = "{S3_BUCKET_NAME}"
STAGING_DIR = '{S3_BUCKET_URL}'
OUTPUT_DIRECTORY = "{S3_OUTPUT_DIRECTORY}"

[SCHEMA]
NAME = "{schema_name}"

[DWH]
DWH_IAM_ROLE_NAME = redshift-s3-access
DWH_HOST = '{DWH_HOST_URL}'
DWH_PORT = PORT_NUMBER
DWH_DB = '{DB_NAME}'
DWH_DB_USER = '{DB_USERNAME}'
DWH_DB_PASSWORD = '{DB_PASSWORD}'